
.footer {
    /* position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); */
    margin-top: 60px;
    padding-bottom: 20px;
    text-align: center;
    color: var(--element8);
    font-size: 14px;
}

.cc {
margin-bottom: 2px;
}

.cc a {
text-decoration: underline;
text-decoration-color: var(--element8);
}

@media screen and (max-width: 600px) {
.footer {
    text-align: center;
}

}
